/* Start Container */
.material-container {
    padding: 5px 7px;
    background: var(--primary-color);
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--shadow-color);
    transition: .2s;
    cursor: pointer;
}

.material-container * {
    user-select: none;
}

.material-container:hover {
    background:var(--primary-dark-color);
    box-shadow: 0 0 10px var(--shadow-color);
}

.material-container:active {
    background: var(--primary-color);
    box-shadow: 0 0 5px var(--shadow-color);
}
/* End Container */

/* Start TextInput */
.text-input-container {
    height: 60px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 60px;
    border-bottom: 1px solid white;
    background: var(--primary-color);
    border-radius: 5px 5px 0 0;
}

.text-input-input {
    border: none;
    background: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 19px;
    width: 100%;
    box-sizing: border-box;
    height: inherit;
    outline: none;
}

.text-input-icon {
    height: 30px;
    width: 30px;
    margin: 15px;
    cursor: pointer;
}
/* End TextInput */
/* Start TextArea */
.text-area {
    outline: none;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--primary-color);
    color: white;
}